<div class="vh-100">
    <div class="Container">
        <div class="row">
            <div class="col-md-6">
                <div class="info text-left" style="margin-top: 150px; margin-left: 150px;">
                    <h1 class="display-3">Experto en Lips con 101 algoritmos</h1>
                    <div class="mt-4">
                        <h4>Practica con estos ejemplos y aprende todo sobre el lenguaje Lisp</h4>
                        <a class="btn btn-outline-primary mt-3" href="/algorithm">Aprender</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center" style="margin-top: 150px;">
                    <img src="/static/images/Logo_Lisp.png" width="350" alt="" class="mb-3">
                    <h4>Universidad Tecnológica <br>de Pereira</h4>
                </div>
            </div>
        </div>
    </div>
</div>