<div>
    <div class="Container">
        <div class="info">
            <h3>
                Experto en Lips con 101 algoritmos
            </h3>
            <h6>
                Practica con estos ejemplos y aprende todo sobre el lenguaje Lisp
            </h6>
        </div>
        <a href="/menu">Aprender</a>
    </div>
    <div>
        <img src="/static/images/Logo_Lisp.png" width="350" alt="">
        <h4>Universidad Tecnologica de Pereira</h4>
    </div>
    
</div>