<div>
    <form action="/menu" method="POST">
        <!-- Encabezado -->
        <div class="text-center mt-5 ml-5 mr-5">
            <h1 class="font-weight-bold mb-4">Menú de Algoritmos</h1>
            <h4>
                Elige uno de estos 101 algoritmos, cualquiera te enseñará un nuevo tema.<br><br>
                Cada algoritmo tiene su enunciado, pseudocódigo, código en Lisp y explicación paso a paso.
            </h4>
        </div>
        <!-- 3 Modulos -->
        <div class="container">
            <div class="row mt-5">
                <!--Columna 1-->
                <div class="col-md-4 col-lg-4 col-sm-12 mb-5">
                    <div id="Rombo">
                        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.63 292.63"><defs><style>.cls-1{fill:#2478bdb0;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:8px;}.cls-2{font-size:20px;font-family:MyriadPro-Regular, Myriad Pro;}</style></defs>
                    

                            <a href="/algorithm/1"><rect class="cls-1" x="157.3" y="23.99" width="67.28" height="67.28" transform="translate(-29.85 145.84) rotate(-45)"/><text class="cls-2" transform="translate(134.2 56.82)">01</text></a>

                            <a href="/algorithm/2"><rect class="cls-1" x="110.38" y="70.92" width="67.28" height="67.28" transform="translate(-76.78 126.4) rotate(-45)"/><text class="cls-2" transform="translate(87.27 103.74)">02</text></a>

                            <a href="/algorithm/3"><rect class="cls-1" x="204.88" y="71.56" width="67.28" height="67.28" transform="translate(-49.56 193.41) rotate(-45)"/><text class="cls-2" transform="translate(181.77 104.39)">03</text></a>

                            <a href="/algorithm/4"><rect class="cls-1" x="62.96" y="118.33" width="67.28" height="67.28" transform="translate(-124.19 106.76) rotate(-45)"/><text class="cls-2" transform="translate(39.86 151.16)">04</text></a>

                            <a href="/algorithm/5"><rect class="cls-1" x="157.95" y="118.49" width="67.28" height="67.28" transform="translate(-96.49 173.97) rotate(-45)"/><text class="cls-2" transform="translate(134.84 151.32)">05</text></a>

                            <a href="/algorithm/6"><rect class="cls-1" x="252.45" y="119.14" width="67.28" height="67.28" transform="translate(-69.26 240.98) rotate(-45)"/><text class="cls-2" transform="translate(229.34 151.96)">06</text></a>

                            <a href="/algorithm/7"><rect class="cls-1" x="110.53" y="165.91" width="67.28" height="67.28" transform="translate(-143.9 154.33) rotate(-45)"/><text class="cls-2" transform="translate(87.43 198.73)">07</text></a>

                            <a href="/algorithm/8"><rect class="cls-1" x="205.52" y="166.06" width="67.28" height="67.28" transform="translate(-116.19 221.55) rotate(-45)"/><text class="cls-2" transform="translate(182.41 198.89)">08</text></a>

                            <a href="/algorithm/9"><rect class="cls-1" x="158.11" y="213.48" width="67.28" height="67.28" transform="translate(-163.61 201.91) rotate(-45)"/><text class="cls-2" transform="translate(135 246.3)">09</text></a>

                        </svg>
                    </div>
                </div>
                <!--Columna 2-->
                <div class="col-md-4 col-lg-4 col-sm-12 mb-5">
                    <div id="Rombo">
                        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.63 292.63"><defs><style>.cls-1{fill:2478bd;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:8px;}.cls-2{font-size:20px;font-family:MyriadPro-Regular, Myriad Pro;}</style></defs>
                        

                            <a href="/algorithm/10"><rect class="cls-1" x="157.3" y="23.99" width="67.28" height="67.28" transform="translate(-29.85 145.84) rotate(-45)"/><text class="cls-2" transform="translate(134.2 56.82)">10</text></a>

                            <a href="/algorithm/11"><rect class="cls-1" x="110.38" y="70.92" width="67.28" height="67.28" transform="translate(-76.78 126.4) rotate(-45)"/><text class="cls-2" transform="translate(87.27 103.74)">11</text></a>

                            <a href="/algorithm/12"><rect class="cls-1" x="204.88" y="71.56" width="67.28" height="67.28" transform="translate(-49.56 193.41) rotate(-45)"/><text class="cls-2" transform="translate(181.77 104.39)">12</text></a>

                            <a href="/algorithm/13"><rect class="cls-1" x="62.96" y="118.33" width="67.28" height="67.28" transform="translate(-124.19 106.76) rotate(-45)"/><text class="cls-2" transform="translate(39.86 151.16)">13</text></a>

                            <a href="/algorithm/14"><rect class="cls-1" x="157.95" y="118.49" width="67.28" height="67.28" transform="translate(-96.49 173.97) rotate(-45)"/><text class="cls-2" transform="translate(134.84 151.32)">14</text></a>

                            <a href="/algorithm/15"><rect class="cls-1" x="252.45" y="119.14" width="67.28" height="67.28" transform="translate(-69.26 240.98) rotate(-45)"/><text class="cls-2" transform="translate(229.34 151.96)">15</text></a>

                            <a href="/algorithm/16"><rect class="cls-1" x="110.53" y="165.91" width="67.28" height="67.28" transform="translate(-143.9 154.33) rotate(-45)"/><text class="cls-2" transform="translate(87.43 198.73)">16</text></a>

                            <a href="/algorithm/17"><rect class="cls-1" x="205.52" y="166.06" width="67.28" height="67.28" transform="translate(-116.19 221.55) rotate(-45)"/><text class="cls-2" transform="translate(182.41 198.89)">17</text></a>

                            <a href="/algorithm/18"><rect class="cls-1" x="158.11" y="213.48" width="67.28" height="67.28" transform="translate(-163.61 201.91) rotate(-45)"/><text class="cls-2" transform="translate(135 246.3)">18</text></a>

                        </svg>
                    </div>
                </div>
                <!--Columna 3-->
                <div class="col-md-4 col-lg-4 col-sm-12 mb-5">
                    <div id="Rombo">
                        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.63 292.63"><defs><style>.cls-1{fill:2478bd;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:8px;}.cls-2{font-size:20px;font-family:MyriadPro-Regular, Myriad Pro;}</style></defs>
                        

                            <a href="/algorithm/19"><rect class="cls-1" x="157.3" y="23.99" width="67.28" height="67.28" transform="translate(-29.85 145.84) rotate(-45)"/><text class="cls-2" transform="translate(134.2 56.82)">19</text></a>

                            <a href="/algorithm/20"><rect class="cls-1" x="110.38" y="70.92" width="67.28" height="67.28" transform="translate(-76.78 126.4) rotate(-45)"/><text class="cls-2" transform="translate(87.27 103.74)">20</text></a>

                            <a href="/algorithm/21"><rect class="cls-1" x="204.88" y="71.56" width="67.28" height="67.28" transform="translate(-49.56 193.41) rotate(-45)"/><text class="cls-2" transform="translate(181.77 104.39)">21</text></a>

                            <a href="/algorithm/22"><rect class="cls-1" x="62.96" y="118.33" width="67.28" height="67.28" transform="translate(-124.19 106.76) rotate(-45)"/><text class="cls-2" transform="translate(39.86 151.16)">22</text></a>

                            <a href="/algorithm/23"><rect class="cls-1" x="157.95" y="118.49" width="67.28" height="67.28" transform="translate(-96.49 173.97) rotate(-45)"/><text class="cls-2" transform="translate(134.84 151.32)">23</text></a>

                            <a href="/algorithm/24"><rect class="cls-1" x="252.45" y="119.14" width="67.28" height="67.28" transform="translate(-69.26 240.98) rotate(-45)"/><text class="cls-2" transform="translate(229.34 151.96)">24</text></a>

                            <a href="/algorithm/25"><rect class="cls-1" x="110.53" y="165.91" width="67.28" height="67.28" transform="translate(-143.9 154.33) rotate(-45)"/><text class="cls-2" transform="translate(87.43 198.73)">25</text></a>

                            <a href="/algorithm/26"><rect class="cls-1" x="205.52" y="166.06" width="67.28" height="67.28" transform="translate(-116.19 221.55) rotate(-45)"/><text class="cls-2" transform="translate(182.41 198.89)">26</text></a>

                            <a href="/algorithm/27"><rect class="cls-1" x="158.11" y="213.48" width="67.28" height="67.28" transform="translate(-163.61 201.91) rotate(-45)"/><text class="cls-2" transform="translate(135 246.3)">27</text></a>

                        </svg>
                    </div>
                </div>

            </div>
        </div>
        <!-- 3 Modulos -->
        <div class="container">
            <div class="row mt-5">
                <!--Columna 4-->
                <div class="col-md-4 col-lg-4 col-sm-12 mb-5">
                    <div id="Rombo">
                        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.63 292.63"><defs><style>.cls-1{fill:2478bd;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:8px;}.cls-2{font-size:20px;font-family:MyriadPro-Regular, Myriad Pro;}</style></defs>
                        

                            <a href="/algorithm/28"><rect class="cls-1" x="157.3" y="23.99" width="67.28" height="67.28" transform="translate(-29.85 145.84) rotate(-45)"/><text class="cls-2" transform="translate(134.2 56.82)">28</text></a>

                            <a href="/algorithm/29"><rect class="cls-1" x="110.38" y="70.92" width="67.28" height="67.28" transform="translate(-76.78 126.4) rotate(-45)"/><text class="cls-2" transform="translate(87.27 103.74)">29</text></a>

                            <a href="/algorithm/30"><rect class="cls-1" x="204.88" y="71.56" width="67.28" height="67.28" transform="translate(-49.56 193.41) rotate(-45)"/><text class="cls-2" transform="translate(181.77 104.39)">30</text></a>

                            <a href="/algorithm/31"><rect class="cls-1" x="62.96" y="118.33" width="67.28" height="67.28" transform="translate(-124.19 106.76) rotate(-45)"/><text class="cls-2" transform="translate(39.86 151.16)">31</text></a>

                            <a href="/algorithm/32"><rect class="cls-1" x="157.95" y="118.49" width="67.28" height="67.28" transform="translate(-96.49 173.97) rotate(-45)"/><text class="cls-2" transform="translate(134.84 151.32)">32</text></a>

                            <a href="/algorithm/33"><rect class="cls-1" x="252.45" y="119.14" width="67.28" height="67.28" transform="translate(-69.26 240.98) rotate(-45)"/><text class="cls-2" transform="translate(229.34 151.96)">33</text></a>

                            <a href="/algorithm/34"><rect class="cls-1" x="110.53" y="165.91" width="67.28" height="67.28" transform="translate(-143.9 154.33) rotate(-45)"/><text class="cls-2" transform="translate(87.43 198.73)">34</text></a>

                            <a href="/algorithm/35"><rect class="cls-1" x="205.52" y="166.06" width="67.28" height="67.28" transform="translate(-116.19 221.55) rotate(-45)"/><text class="cls-2" transform="translate(182.41 198.89)">35</text></a>

                            <a href="/algorithm/36"><rect class="cls-1" x="158.11" y="213.48" width="67.28" height="67.28" transform="translate(-163.61 201.91) rotate(-45)"/><text class="cls-2" transform="translate(135 246.3)">36</text></a>

                        </svg>
                    </div>
                </div>
                <!--Columna 5-->
                <div class="col-md-4 col-lg-4 col-sm-12 mb-5">
                    <div id="Rombo">
                        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.63 292.63"><defs><style>.cls-1{fill:2478bd;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:8px;}.cls-2{font-size:20px;font-family:MyriadPro-Regular, Myriad Pro;}</style></defs>
                        

                            <a href="/algorithm/37"><rect class="cls-1" x="157.3" y="23.99" width="67.28" height="67.28" transform="translate(-29.85 145.84) rotate(-45)"/><text class="cls-2" transform="translate(134.2 56.82)">37</text></a>

                            <a href="/algorithm/38"><rect class="cls-1" x="110.38" y="70.92" width="67.28" height="67.28" transform="translate(-76.78 126.4) rotate(-45)"/><text class="cls-2" transform="translate(87.27 103.74)">38</text></a>

                            <a href="/algorithm/39"><rect class="cls-1" x="204.88" y="71.56" width="67.28" height="67.28" transform="translate(-49.56 193.41) rotate(-45)"/><text class="cls-2" transform="translate(181.77 104.39)">39</text></a>

                            <a href="/algorithm/40"><rect class="cls-1" x="62.96" y="118.33" width="67.28" height="67.28" transform="translate(-124.19 106.76) rotate(-45)"/><text class="cls-2" transform="translate(39.86 151.16)">40</text></a>

                            <a href="/algorithm/41"><rect class="cls-1" x="157.95" y="118.49" width="67.28" height="67.28" transform="translate(-96.49 173.97) rotate(-45)"/><text class="cls-2" transform="translate(134.84 151.32)">41</text></a>

                            <a href="/algorithm/42"><rect class="cls-1" x="252.45" y="119.14" width="67.28" height="67.28" transform="translate(-69.26 240.98) rotate(-45)"/><text class="cls-2" transform="translate(229.34 151.96)">42</text></a>

                            <a href="/algorithm/43"><rect class="cls-1" x="110.53" y="165.91" width="67.28" height="67.28" transform="translate(-143.9 154.33) rotate(-45)"/><text class="cls-2" transform="translate(87.43 198.73)">43</text></a>

                            <a href="/algorithm/44"><rect class="cls-1" x="205.52" y="166.06" width="67.28" height="67.28" transform="translate(-116.19 221.55) rotate(-45)"/><text class="cls-2" transform="translate(182.41 198.89)">44</text></a>

                            <a href="/algorithm/45"><rect class="cls-1" x="158.11" y="213.48" width="67.28" height="67.28" transform="translate(-163.61 201.91) rotate(-45)"/><text class="cls-2" transform="translate(135 246.3)">45</text></a>

                        </svg>
                    </div>
                </div>
                <!--Columna 6-->
                <div class="col-md-4 col-lg-4 col-sm-12 mb-5">
                    <div id="Rombo">
                        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.63 292.63"><defs><style>.cls-1{fill:2478bd;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:8px;}.cls-2{font-size:20px;font-family:MyriadPro-Regular, Myriad Pro;}</style></defs>
                        

                            <a href="/algorithm/46"><rect class="cls-1" x="157.3" y="23.99" width="67.28" height="67.28" transform="translate(-29.85 145.84) rotate(-45)"/><text class="cls-2" transform="translate(134.2 56.82)">46</text></a>

                            <a href="/algorithm/47"><rect class="cls-1" x="110.38" y="70.92" width="67.28" height="67.28" transform="translate(-76.78 126.4) rotate(-45)"/><text class="cls-2" transform="translate(87.27 103.74)">47</text></a>

                            <a href="/algorithm/48"><rect class="cls-1" x="204.88" y="71.56" width="67.28" height="67.28" transform="translate(-49.56 193.41) rotate(-45)"/><text class="cls-2" transform="translate(181.77 104.39)">48</text></a>

                            <a href="/algorithm/49"><rect class="cls-1" x="62.96" y="118.33" width="67.28" height="67.28" transform="translate(-124.19 106.76) rotate(-45)"/><text class="cls-2" transform="translate(39.86 151.16)">49</text></a>

                            <a href="/algorithm/50"><rect class="cls-1" x="157.95" y="118.49" width="67.28" height="67.28" transform="translate(-96.49 173.97) rotate(-45)"/><text class="cls-2" transform="translate(134.84 151.32)">50</text></a>

                            <a href="/algorithm/51"><rect class="cls-1" x="252.45" y="119.14" width="67.28" height="67.28" transform="translate(-69.26 240.98) rotate(-45)"/><text class="cls-2" transform="translate(229.34 151.96)">51</text></a>

                            <a href="/algorithm/52"><rect class="cls-1" x="110.53" y="165.91" width="67.28" height="67.28" transform="translate(-143.9 154.33) rotate(-45)"/><text class="cls-2" transform="translate(87.43 198.73)">52</text></a>

                            <a href="/algorithm/53"><rect class="cls-1" x="205.52" y="166.06" width="67.28" height="67.28" transform="translate(-116.19 221.55) rotate(-45)"/><text class="cls-2" transform="translate(182.41 198.89)">53</text></a>

                            <a href="/algorithm/54"><rect class="cls-1" x="158.11" y="213.48" width="67.28" height="67.28" transform="translate(-163.61 201.91) rotate(-45)"/><text class="cls-2" transform="translate(135 246.3)">54</text></a>

                        </svg>
                    </div>
                </div>

            </div>
        </div>
        <!-- 3 Modulos -->
        <div class="container">
            <div class="row mt-5">
                <!--Columna 7-->
                <div class="col-md-4 col-lg-4 col-sm-12 mb-5">
                    <div id="Rombo">
                        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.63 292.63"><defs><style>.cls-1{fill:2478bd;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:8px;}.cls-2{font-size:20px;font-family:MyriadPro-Regular, Myriad Pro;}</style></defs>
                        

                            <a href="/algorithm/55"><rect class="cls-1" x="157.3" y="23.99" width="67.28" height="67.28" transform="translate(-29.85 145.84) rotate(-45)"/><text class="cls-2" transform="translate(134.2 56.82)">55</text></a>

                            <a href="/algorithm/56"><rect class="cls-1" x="110.38" y="70.92" width="67.28" height="67.28" transform="translate(-76.78 126.4) rotate(-45)"/><text class="cls-2" transform="translate(87.27 103.74)">56</text></a>

                            <a href="/algorithm/57"><rect class="cls-1" x="204.88" y="71.56" width="67.28" height="67.28" transform="translate(-49.56 193.41) rotate(-45)"/><text class="cls-2" transform="translate(181.77 104.39)">57</text></a>

                            <a href="/algorithm/58"><rect class="cls-1" x="62.96" y="118.33" width="67.28" height="67.28" transform="translate(-124.19 106.76) rotate(-45)"/><text class="cls-2" transform="translate(39.86 151.16)">58</text></a>

                            <a href="/algorithm/59"><rect class="cls-1" x="157.95" y="118.49" width="67.28" height="67.28" transform="translate(-96.49 173.97) rotate(-45)"/><text class="cls-2" transform="translate(134.84 151.32)">59</text></a>

                            <a href="/algorithm/60"><rect class="cls-1" x="252.45" y="119.14" width="67.28" height="67.28" transform="translate(-69.26 240.98) rotate(-45)"/><text class="cls-2" transform="translate(229.34 151.96)">60</text></a>

                            <a href="/algorithm/61"><rect class="cls-1" x="110.53" y="165.91" width="67.28" height="67.28" transform="translate(-143.9 154.33) rotate(-45)"/><text class="cls-2" transform="translate(87.43 198.73)">61</text></a>

                            <a href="/algorithm/62"><rect class="cls-1" x="205.52" y="166.06" width="67.28" height="67.28" transform="translate(-116.19 221.55) rotate(-45)"/><text class="cls-2" transform="translate(182.41 198.89)">62</text></a>

                            <a href="/algorithm/63"><rect class="cls-1" x="158.11" y="213.48" width="67.28" height="67.28" transform="translate(-163.61 201.91) rotate(-45)"/><text class="cls-2" transform="translate(135 246.3)">63</text></a>

                        </svg>
                    </div>
                </div>
                <!--Columna 8-->
                <div class="col-md-4 col-lg-4 col-sm-12 mb-5">
                    <div id="Rombo">
                        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.63 292.63"><defs><style>.cls-1{fill:2478bd;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:8px;}.cls-2{font-size:20px;font-family:MyriadPro-Regular, Myriad Pro;}</style></defs>
                        

                            <a href="/algorithm/64"><rect class="cls-1" x="157.3" y="23.99" width="67.28" height="67.28" transform="translate(-29.85 145.84) rotate(-45)"/><text class="cls-2" transform="translate(134.2 56.82)">64</text></a>

                            <a href="/algorithm/65"><rect class="cls-1" x="110.38" y="70.92" width="67.28" height="67.28" transform="translate(-76.78 126.4) rotate(-45)"/><text class="cls-2" transform="translate(87.27 103.74)">65</text></a>

                            <a href="/algorithm/66"><rect class="cls-1" x="204.88" y="71.56" width="67.28" height="67.28" transform="translate(-49.56 193.41) rotate(-45)"/><text class="cls-2" transform="translate(181.77 104.39)">66</text></a>

                            <a href="/algorithm/67"><rect class="cls-1" x="62.96" y="118.33" width="67.28" height="67.28" transform="translate(-124.19 106.76) rotate(-45)"/><text class="cls-2" transform="translate(39.86 151.16)">67</text></a>

                            <a href="/algorithm/68"><rect class="cls-1" x="157.95" y="118.49" width="67.28" height="67.28" transform="translate(-96.49 173.97) rotate(-45)"/><text class="cls-2" transform="translate(134.84 151.32)">68</text></a>

                            <a href="/algorithm/69"><rect class="cls-1" x="252.45" y="119.14" width="67.28" height="67.28" transform="translate(-69.26 240.98) rotate(-45)"/><text class="cls-2" transform="translate(229.34 151.96)">69</text></a>

                            <a href="/algorithm/70"><rect class="cls-1" x="110.53" y="165.91" width="67.28" height="67.28" transform="translate(-143.9 154.33) rotate(-45)"/><text class="cls-2" transform="translate(87.43 198.73)">70</text></a>

                            <a href="/algorithm/71"><rect class="cls-1" x="205.52" y="166.06" width="67.28" height="67.28" transform="translate(-116.19 221.55) rotate(-45)"/><text class="cls-2" transform="translate(182.41 198.89)">71</text></a>

                            <a href="/algorithm/72"><rect class="cls-1" x="158.11" y="213.48" width="67.28" height="67.28" transform="translate(-163.61 201.91) rotate(-45)"/><text class="cls-2" transform="translate(135 246.3)">72</text></a>

                        </svg>
                    </div>
                </div>
                <!--Columna 9-->
                <div class="col-md-4 col-lg-4 col-sm-12 mb-5">
                    <div id="Rombo">
                        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.63 292.63"><defs><style>.cls-1{fill:2478bd;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:8px;}.cls-2{font-size:20px;font-family:MyriadPro-Regular, Myriad Pro;}</style></defs>
                        

                            <a href="/algorithm/73"><rect class="cls-1" x="157.3" y="23.99" width="67.28" height="67.28" transform="translate(-29.85 145.84) rotate(-45)"/><text class="cls-2" transform="translate(134.2 56.82)">73</text></a>

                            <a href="/algorithm/74"><rect class="cls-1" x="110.38" y="70.92" width="67.28" height="67.28" transform="translate(-76.78 126.4) rotate(-45)"/><text class="cls-2" transform="translate(87.27 103.74)">74</text></a>

                            <a href="/algorithm/75"><rect class="cls-1" x="204.88" y="71.56" width="67.28" height="67.28" transform="translate(-49.56 193.41) rotate(-45)"/><text class="cls-2" transform="translate(181.77 104.39)">75</text></a>

                            <a href="/algorithm/76"><rect class="cls-1" x="62.96" y="118.33" width="67.28" height="67.28" transform="translate(-124.19 106.76) rotate(-45)"/><text class="cls-2" transform="translate(39.86 151.16)">76</text></a>

                            <a href="/algorithm/77"><rect class="cls-1" x="157.95" y="118.49" width="67.28" height="67.28" transform="translate(-96.49 173.97) rotate(-45)"/><text class="cls-2" transform="translate(134.84 151.32)">77</text></a>

                            <a href="/algorithm/78"><rect class="cls-1" x="252.45" y="119.14" width="67.28" height="67.28" transform="translate(-69.26 240.98) rotate(-45)"/><text class="cls-2" transform="translate(229.34 151.96)">78</text></a>

                            <a href="/algorithm/79"><rect class="cls-1" x="110.53" y="165.91" width="67.28" height="67.28" transform="translate(-143.9 154.33) rotate(-45)"/><text class="cls-2" transform="translate(87.43 198.73)">79</text></a>

                            <a href="/algorithm/80"><rect class="cls-1" x="205.52" y="166.06" width="67.28" height="67.28" transform="translate(-116.19 221.55) rotate(-45)"/><text class="cls-2" transform="translate(182.41 198.89)">80</text></a>

                            <a href="/algorithm/81"><rect class="cls-1" x="158.11" y="213.48" width="67.28" height="67.28" transform="translate(-163.61 201.91) rotate(-45)"/><text class="cls-2" transform="translate(135 246.3)">81</text></a>

                        </svg>
                    </div>
                </div>

            </div>
        </div>
        <!-- 2 Modulos -->
        <div class="container">
            <div class="row mt-5">
                <!--Columna 10-->
                <div class="col-md-4 col-lg-4 col-sm-12 mb-5">
                    <div id="Rombo">
                        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.63 292.63"><defs><style>.cls-1{fill:2478bd;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:8px;}.cls-2{font-size:20px;font-family:MyriadPro-Regular, Myriad Pro;}</style></defs>
                        

                            <a href="/algorithm/82"><rect class="cls-1" x="157.3" y="23.99" width="67.28" height="67.28" transform="translate(-29.85 145.84) rotate(-45)"/><text class="cls-2" transform="translate(134.2 56.82)">82</text></a>

                            <a href="/algorithm/83"><rect class="cls-1" x="110.38" y="70.92" width="67.28" height="67.28" transform="translate(-76.78 126.4) rotate(-45)"/><text class="cls-2" transform="translate(87.27 103.74)">83</text></a>

                            <a href="/algorithm/84"><rect class="cls-1" x="204.88" y="71.56" width="67.28" height="67.28" transform="translate(-49.56 193.41) rotate(-45)"/><text class="cls-2" transform="translate(181.77 104.39)">84</text></a>

                            <a href="/algorithm/85"><rect class="cls-1" x="62.96" y="118.33" width="67.28" height="67.28" transform="translate(-124.19 106.76) rotate(-45)"/><text class="cls-2" transform="translate(39.86 151.16)">85</text></a>

                            <a href="/algorithm/86"><rect class="cls-1" x="157.95" y="118.49" width="67.28" height="67.28" transform="translate(-96.49 173.97) rotate(-45)"/><text class="cls-2" transform="translate(134.84 151.32)">86</text></a>

                            <a href="/algorithm/87"><rect class="cls-1" x="252.45" y="119.14" width="67.28" height="67.28" transform="translate(-69.26 240.98) rotate(-45)"/><text class="cls-2" transform="translate(229.34 151.96)">87</text></a>

                            <a href="/algorithm/88"><rect class="cls-1" x="110.53" y="165.91" width="67.28" height="67.28" transform="translate(-143.9 154.33) rotate(-45)"/><text class="cls-2" transform="translate(87.43 198.73)">88</text></a>

                            <a href="/algorithm/89"><rect class="cls-1" x="205.52" y="166.06" width="67.28" height="67.28" transform="translate(-116.19 221.55) rotate(-45)"/><text class="cls-2" transform="translate(182.41 198.89)">89</text></a>

                            <a href="/algorithm/90"><rect class="cls-1" x="158.11" y="213.48" width="67.28" height="67.28" transform="translate(-163.61 201.91) rotate(-45)"/><text class="cls-2" transform="translate(135 246.3)">90</text></a>

                        </svg>
                    </div>
                </div>
                <!--Columna 11-->
                <div class="col-md-4 col-lg-4 col-sm-12 mb-5">
                    <div id="Rombo">
                        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.63 292.63"><defs><style>.cls-1{fill:2478bd;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:8px;}.cls-2{font-size:20px;font-family:MyriadPro-Regular, Myriad Pro;}</style></defs>
                        

                            <a href="/algorithm/91"><rect class="cls-1" x="157.3" y="23.99" width="67.28" height="67.28" transform="translate(-29.85 145.84) rotate(-45)"/><text class="cls-2" transform="translate(134.2 56.82)">91</text></a>

                            <a href="/algorithm/92"><rect class="cls-1" x="110.38" y="70.92" width="67.28" height="67.28" transform="translate(-76.78 126.4) rotate(-45)"/><text class="cls-2" transform="translate(87.27 103.74)">92</text></a>

                            <a href="/algorithm/93"><rect class="cls-1" x="204.88" y="71.56" width="67.28" height="67.28" transform="translate(-49.56 193.41) rotate(-45)"/><text class="cls-2" transform="translate(181.77 104.39)">93</text></a>

                            <a href="/algorithm/94"><rect class="cls-1" x="62.96" y="118.33" width="67.28" height="67.28" transform="translate(-124.19 106.76) rotate(-45)"/><text class="cls-2" transform="translate(39.86 151.16)">94</text></a>

                            <a href="/algorithm/95"><rect class="cls-1" x="157.95" y="118.49" width="67.28" height="67.28" transform="translate(-96.49 173.97) rotate(-45)"/><text class="cls-2" transform="translate(134.84 151.32)">95</text></a>

                            <a href="/algorithm/96"><rect class="cls-1" x="252.45" y="119.14" width="67.28" height="67.28" transform="translate(-69.26 240.98) rotate(-45)"/><text class="cls-2" transform="translate(229.34 151.96)">96</text></a>

                            <a href="/algorithm/97"><rect class="cls-1" x="110.53" y="165.91" width="67.28" height="67.28" transform="translate(-143.9 154.33) rotate(-45)"/><text class="cls-2" transform="translate(87.43 198.73)">97</text></a>

                            <a href="/algorithm/98"><rect class="cls-1" x="205.52" y="166.06" width="67.28" height="67.28" transform="translate(-116.19 221.55) rotate(-45)"/><text class="cls-2" transform="translate(182.41 198.89)">98</text></a>

                            <a href="/algorithm/99"><rect class="cls-1" x="158.11" y="213.48" width="67.28" height="67.28" transform="translate(-163.61 201.91) rotate(-45)"/><text class="cls-2" transform="translate(135 246.3)">99</text></a>

                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
