
<footer id="footer" class="pb-4 pt-4">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h3 class="h6"> Contáctanos</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="h6">PBX: +57 6 3137300</h3>
                <h3 class="h6">Fax: +57 6 3213206</h3>
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col-12 col-lg">
                <p class="copy">Universidad Tecnologica de Pereira &copy; 2020</p>
            </div>
        </div>
    </div>
</footer>